<div class="widget">
 <!--  <h3>Flashback</h3> -->
  <!-- <div class="content">
    <li class="flashback-btn ticket-btns">
    	<a href="#modal" id="video-click-btn">
    		<button class="btn tooltip">Flashback</button>
    	</a>
    </li>	
  </div> -->
  <div class="remodal-overlay">
  <div class="remodal" data-remodal-id="modal" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">
	  <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
		

			<div class="reveal">

			<div class="slides">
			
				<section data-background="#230e8d" data-transition="zoom" data-background-transition="fade-in" style="background-color:#230e8d;" class="stack">
					
					<img src="{{ 'agent.png' || asset_url }}" alt="replay" class="animated fadeInDown agent-slide-1">	
					<div class="fragment slide-1-content" data-transition="slide-in" data-autoslide="1000" data-animation-type="slide-right">
						
						<div class="fragment d-align-right" data-autoslide="1000" data-transition="fade-in">
							<img src="{{ 'Ticket.png' || asset_url }}" alt="replay" class="animated fadeInDown">	
						</div>
						<div class="fragment clr-light-blue c-font-large animated fadeInLeft" data-autoslide="1000">
							Created at OCT 2016
						</div>
						<div class="fragment font-extra-large clr-pink animated fadeInLeft" data-autoslide="1000">
							Chat window is not working properly
						</div>
					
					</div>

				</section>
				<!-- slide 2 ********************************* -->

				<section data-background="#f9e400" data-transition="fade-in slide-out" data-background-transition="slide-in" style="background-color:#f9e400;">
						<div class="t-left slide-2-con-1" data-autoslide="10">
							<div class="d-align-right">
								<img src="{{ 'agent.png' || asset_url }}" alt="replay" class="animated fadeInDown">
							</div>
							<div class="clr-light-blue c-font-large">
								Created at OCT 2016
							</div>
							<div class="font-extra-large clr-pink">
								Chat window is not working properly
							</div>
						</div>
						<div class="fragment slide-2-con-2" data-autoslide="50" >
							<div class="fragment d-align-left image-fix" data-autoslide="1000" data-transition="fade-in">
								<img src="{{ 'Ticket.png' || asset_url }}" alt="replay" class="animated fadeInDown">	
							</div>
							<div class="fragment clr-blue-fs font-extra-large animated fadeInRight">
								Ticket assigned to
							</div>
							<div class="fragment c-font-48 clr-light-grey animated fadeInRight" data-autoslide="1000">
								Jennie Snyder
							</div>	
							<div class="fragment">
								<img src="{{ 'Agent.png' || asset_url }}" alt="replay" class="animated fadeInDown mt-0"> 		
							</div>
						</div>


				</section>

				<!-- slide 3 ********************************* -->


				<section data-background="#f34704" data-transition="slide-in fade-out" data-background-transition="slide-out" style="background-color:#f34704;">
					<div class="t-left slide-2-con-1" data-autoslide="10">
						<div class="d-align-right">
							<img src="{{ 'agent.png' || asset_url }}" alt="replay" class="animated fadeInDown">
						</div>
						<div class="c-light-orange c-font-large">
							Created at OCT 2016
						</div>
						<div class="font-extra-large c-white">
							Chat window is not working properly
						</div>
						<img src="{{ 'clock.png' || asset_url }}" alt="replay" class="animated fadeInDown clock-img"> 
					</div>

					<div class="fragment slide-3-con-2" data-autoslide="50" >
							<div class="fragment d-align-left" data-autoslide="1000" data-transition="fade-in">
								<img src="{{ 'Agent.png' || asset_url }}" alt="replay" class="animated fadeInDown mt-0">
							</div>
							<div class="fragment c-white font-extra-large animated fadeInRight">
								Ticket assigned to
							</div>
							<div class="fragment c-font-48 c-white animated fadeInRight" data-autoslide="1000">
								Jennie Snyder
							</div>	
						</div>

				</section>

			<!-- slide 4 ********************************* -->

				<section style="background-color:#d51864;">
					<div class="width-65-p">
						<img src="{{ 'agent.png' || asset_url }}" alt="replay" class=" animated fadeInDown fb-agent-img slide-4-img">
						<div class="font-size-small t-left">
							Created at OCT 2016
						</div>
						<div class="c-white t-left">
							Chat window is not working properly
						</div>
					</div>
					<div class="width-35-p">
						<img src="{{ 'clock.png' || asset_url }}" alt="replay" class="margin-0 animated fadeInDown fb-agent-img">
						<img src="{{ 'agent.png' || asset_url }}" alt="replay" class="margin-0 animated fadeInDown fb-agent-img s-4-agent-img">
					</div>
					<div>
						Hello Team, Please be informed that there has been an issue with chat over FreshDesk. Agents are online and available for chat, once chat enters the window, the same is being accepted, however there is no pop up window for the chat conversation. We are unable to trace w....
					</div>
				</section>

			<!-- slide 5 ********************************* -->	
				<section style="background-color:#ffffff;">
					
				</section>
				<section style="background-color:#f34704;">
					
				</section>
				<section style="background-color:#ffffff;">
					
				</section>
				<section style="background-color:#2b7b8f;">
					
				</section>
				<section style="background-color:#1c394f;">
					
				</section>
				<section style="background-color:#fae500;">
					
				</section>
				<section style="background-color:#f34704;">
					
				</section>
				<section style="background-color:#d51864;">
					
				</section>
				<section style="background-color:#1c394f;">
					
				</section>
				<section style="background-color:#ffffff;">
					
				</section>

			</div>

		</div>


	</div>
</div>
</div>

<script type="text/javascript" src="{{ 'remodal.js' | asset_url }}"></script>
<link rel="stylesheet" type="text/css" href="{{ 'remodal.css' | asset_url }}">
<link rel="stylesheet" type="text/css" href="{{ 'remodal-default-theme.css' | asset_url }}">
<link rel="stylesheet" type="text/css" href="{{ 'default.css' | asset_url }}">
<link rel="stylesheet" type="text/css" href="{{ 'reveal.css' | asset_url }}">
<link rel="stylesheet" type="text/css" href="{{ 'animate.css' | asset_url }}">
<link rel="stylesheet" type="text/css" href="{{ 'flashback.css' | asset_url }}">

<script class="myTmpl" type="text/template">
	<!-- <section id="slide5" data-background="#0389ad" data-transition="convex" data-background-transition="slide-out" >
		<h2> <%- data.name %></h2>
	    <% _.each( data.agents, function( agent ){ %>
		     <li>
		        <%- agent %>
		    </li>
	    <% }); %>
	</section> -->

	<!-- last slide replay button -->

	<!-- <section data-background="#0389ad" data-transition="convex" data-background-transition="slide-out" >
			
				<img src="{{ 'replay.png' || asset_url }}" alt="replay" id="replay-btn" class="replay-btn mt-200">
	</section>
 -->
</script>

