<div class="widget">
 <!--  <h3>Flashback</h3> -->
  <!-- <div class="content">
    <li class="flashback-btn ticket-btns">
    	<a href="#modal" id="video-click-btn">
    		<button class="btn tooltip">Flashback</button>
    	</a>
    </li>	
  </div> -->
  <div class="remodal-overlay">
  <div class="remodal" data-remodal-id="modal" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">
	  <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
		

			<div class="reveal">

			<div class="slides">

				<section data-background="#0389ad" data-transition="zoom" data-background-transition="fade-in" style="background-color:#0389ad;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</section>
				<section data-background="#ffa800" data-autoslide="10000" data-transition="slide" data-background-transition="slide-in" style="background-color:#0389ad;">Slide 2</section>
				<section data-background="#16a085" data-transition="fade-in" data-background-transition="slide-out" style="background-color:#0389ad;">Slide 2</section>

			</div>

		</div>


	</div>
</div>
</div>

<script type="text/javascript" src="{{ 'remodal.js' | asset_url }}"></script>
<link rel="stylesheet" type="text/css" href="{{ 'remodal.css' | asset_url }}">
<link rel="stylesheet" type="text/css" href="{{ 'remodal-default-theme.css' | asset_url }}">
<link rel="stylesheet" type="text/css" href="{{ 'default.css' | asset_url }}">
<link rel="stylesheet" type="text/css" href="{{ 'reveal.css' | asset_url }}">
<link rel="stylesheet" type="text/css" href="{{ 'flashback.css' | asset_url }}">

<script class="myTmpl" type="text/template">
	<section id="slide5" data-background="#0389ad" data-transition="convex" data-background-transition="slide-out" >
		<h2> <%- data.name %></h2>
	    <% _.each( data.agents, function( agent ){ %>
		     <li>
		        <%- agent %>
		    </li>
	    <% }); %>
	</section>

	<!-- last slide replay button -->

	<section data-background="#0389ad" data-transition="convex" data-background-transition="slide-out" >
			
				<img src="{{ 'replay.png' || asset_url }}" alt="replay" id="replay-btn" class="replay-btn mt-200">
	</section>

</script>

