.reveal {
	font-family: 'Josefin Sans', sans-serif !important;
}

.replay-btn:hover {
    cursor:pointer;
}
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.mt-20 {
	margin-top: 20px;
}
.mt-50 {
	margin-top: 50px !important;
}
.f-left {
	float: left;
}
.slides {
	left: auto !important;
	top:auto !important;
	transform:initial !important;
}
.agent-slide-1 {
	position: absolute;
  left: 10%;
  bottom: 25%;
}
.slide-1-content {
	position: absolute;
	left: 18%;
  bottom: 50%;
  text-align: left;
  width: 70%;	
}
.font-extra-large {
	font-size: 40px !important;
	font-weight: bold;
}
.font-size-small {
	font-size: 18px !important;
}
.c-font-large {
	font-size: 26px !important;
	font-weight: bold;
}
.c-s2-h {
	color: #0000ff;
}
.c-s2-req {
	color: #fc2070;
}
.c-s2-name {
	color: #aaa;
}
.c-font-48 {
	font-size: 48px !important;
	font-weight: bold;	
}
.clr-light-blue {
	color: #e6e6e6;
}
.clr-pink {
	color: #feda01;
}
.clr-blue-fs {
	color: #399fc0;
}
.clr-light-grey {
	color: #7a7a7a;
}
.c-white {
	color: #fff;
}
.c-light-orange {
	color: #fefefe;
}
.d-align-right{
	float: left;
	margin-right: 20px;
}
.d-align-left {
	float: right;
	margin-left: 20px;
}
.t-left {
	text-align: left;
}
.slide-2-con-1{
	position: absolute;
  width: 70%;
  left: 15%;
  top:50px;
}
.slide-2-con-2{
	position: absolute;
  width: 70%;
  right: 15%;
  text-align: right;
  bottom: 25%;
}
.mt-0 {
	margin-top: 0px !important;
}
.image-fix {
	margin-top: -55px !important;
  margin-right: 100px !important;
  margin-left: 20px !important;
}
.clock-img {
	width: 280px;
  float: left;
  margin-left: 10px;
}
.slide-3-con-2{
	position: absolute;
  width: 40%;
  right: 15%;
  text-align: right;
  bottom: 50%;
}
.margin-0 {
	margin:0px !important;
}
.fb-agent-img {
	width: 120px;
}
.agent-name {
	font-size: 48px;
	color: #fefefe;
}
.s-4-sec {
	float: left;
	width: 32%;
}
.s-4-pos {
	width: 90%;
	position: absolute;
	top: 20%;
	left: 5%;
}
.fb-mail-icon {
	width: 360px;
}
.fb-mail-icon.width-transition {
	width: 180px;
	margin-left: -400px;
}
.s-4-pos .req-pos { 
	margin-left: 40px !important;
}
.s-4-pos .agent-pos { 
	margin-right: 40px !important;
}
.agent-img-size {
	width: 127px;
	border-radius: 50%; 
}
.fb-angry-icon {
	width: 200px;
	margin-top: -50px !important;
}
.s-6-font-color {
	color: #000000;
}
.s-6-sec-small {
	width: 25%;
	float: left;
	top:50px;
	left: 50px;
}
.s-6-sec {
	width: 45%;
	float: left;
	top:50px;
	left: 50px;
}
.s-6-ticket-img {
	width: 200px;
  margin-top: 20px !important;
}
.s-6-bottom {
	position: absolute;
  top: 50%;
  width: 100%;
}
.s-6-extra-agent {
	width: 30%;
	float: left;
	margin-top: 20px !important;
}
.s-6-extra-agent-img {
	width: 73px;
	border-radius: 50%;
	vertical-align: middle !important;
}
.s-6-extra-agent-name {
	color: #7a7a7a;
	font-size: 28px !important;
}
.s-7.s-4-pos .addtional-agent {
	position: relative;
}
.s-7.s-4-pos .req-add {
	position: absolute;
	width: 73px;
	bottom: 0;
	border: solid 3px #d51864;
	border-radius:50%;
}
.s-7.s-4-pos .req-add.additional-agent0 {
	right: 140px;
}
.s-7.s-4-pos .req-add.additional-agent1 {
	right: 100px
}
.s-7.s-4-pos .req-add.additional-agent2 {
	right: 60px;
}
.s-8-pos {
	position: absolute;
  width: 100%;
  top: 15%;
  font-size: 48px !important;
}
.clock-img-s-8 {
	width: 150px;
	margin-bottom: 20px;
}
.s-9-pos {
	width: 100%;
	position: absolute;
	top: 5%;
}
.s-4-pos.s-9 {
	width: 70%;
  position: absolute;
  top: 30%;
  left: 27%;
}
.happy-img {
	width: 200px;
}
.s-7.s-4-pos.s-9 .req-add.additional-agent0 {
	right: 100px;
}
.s-7.s-4-pos.s-9 .req-add.additional-agent1 {
	right: 70px
}
.s-7.s-4-pos.s-9 .req-add.additional-agent2 {
	right: 40px;
}
.s-11 {
	position: absolute;
	top:20%;
	width: 100%;
}
.clock-img-s-11 {
	width: 150px;
	margin-right: 60px !important;
}
.s-11-left {
	width: 45%;
	float: left;
}
.tick-s-11 {
	margin-bottom: 0px !important;
}
.s-11-right {
	width: 45%;
  float: left;
  text-align: left;
  margin-left: 100px !important;
}
.tick-space {
	margin-bottom: 10px !important;
}
.float-right-sec {
	float: right;
  margin-right: 50px;
}
.fb-angry-icon.zoom-transition {
	width: 150px;
}
.s-12-con {
	margin-top: 50px !important;
}
.s-13-con {
	margin-top: 50px !important;
}
.zoom-transition {  
    -webkit-animation: zoomscale 1.5s ease-in-out infinite alternate;
    animation: zoomscale 1.5s ease-in-out infinite alternate;
}
.star-rating {
	width: 50px;
	margin-right:10px !important;
	margin-left: 0px !important;
	margin-bottom: 0px !important;
}
.req-info {
	position: absolute;
  bottom: 30%;
  left: 23%;
}
.ticket-source {
	width: 80px;
	margin-right:20 !important;
	margin-left:0 !important;
	margin-bottom:0 !important;

}
@-webkit-keyframes zoomscale {
    0% {
        -webkit-transform: scale(1.0);
    }
    100% {
        -webkit-transform: scale(1.5);
    }
}

@keyframes zoomscale {
    0% {
        transform: scale(1.0);
    }
    100% {
        transform: scale(1.5);
    }
}



.width-transition {  
		position: absolute;
    -webkit-animation: widthtransition 1.5s ease infinite alternate;
    animation: widthtransition 1.5s ease infinite alternate;
}

@-webkit-keyframes widthtransition {
    0% {
				transform: scale(1.0);
        margin-left: -400px;
    }
    100% {
    		transform: scale(1.8);
        margin-left: 100px
    }
}

@keyframes widthtransition {
    0% {
				transform: scale(1.0);
        margin-left: -400px;
    }
    100% {
    		transform: scale(1.8);
        margin-left: 100px
    }
}



