.replay-btn:hover {
    cursor:pointer;
}
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.mt-20 {
	margin-top: 20px;
}
.f-left {
	float: left;
}
.slides {
	left: auto !important;
	top:auto !important;
	transform:initial !important;
}
.agent-slide-1 {
	position: absolute;
  left: 10%;
  bottom: 25%;
}
.slide-1-content {
	position: absolute;
	left: 18%;
  bottom: 50%;
  text-align: left;
  width: 70%;	
}
.font-extra-large {
	font-size: 40px;
	font-weight: bold;
}
.font-size-small {
	font-size: 18px !important;
}
.c-font-large {
	font-size: 32px;
	font-weight: bold;
}
.c-font-48 {
	font-size: 48px;
	font-weight: bold;	
}
.clr-light-blue {
	color: #e6e6e6;
}
.clr-pink {
	color: #e94d5b;
}
.clr-blue-fs {
	color: #399fc0;
}
.clr-light-grey {
	color: #7a7a7a;
}
.c-white {
	color: #fff;
}
.c-light-orange {
	color: #fefefe;
}
.d-align-right{
	float: left;
	margin-right: 20px;
}
.d-align-left {
	float: right;
	margin-left: 20px;
}
.t-left {
	text-align: left;
}
.slide-2-con-1{
	position: absolute;
  width: 70%;
  left: 15%;
  top:0px;
}
.slide-2-con-2{
	position: absolute;
  width: 70%;
  right: 15%;
  text-align: right;
  bottom: 25%;
}
.mt-0 {
	margin-top: 0px !important;
}
.image-fix {
	margin-top: -55px !important;
  margin-right: 100px !important;
  margin-left: 20px !important;
}
.clock-img {
	width: 280px;
  float: left;
  margin-left: 10px;
}
.slide-3-con-2{
	position: absolute;
  width: 40%;
  right: 15%;
  text-align: right;
  bottom: 55%;
}
.margin-0 {
	margin:0px !important;
}
.fb-agent-img {
	width: 120px;
}
.agent-name {
	font-size: 48px;
	color: #fefefe;
}
.s-4-sec {
	float: left;
	width: 32%;
}
.s-4-pos {
	width: 90%;
	position: absolute;
	top: 20%;
	left: 5%;
}
.fb-mail-icon {
	width: 360px;
}
.s-4-pos .req-pos { 
	margin-left: 40px !important;
}
.s-4-pos .agent-pos { 
	margin-right: 40px !important;
}
.agent-img-size {
	width: 127px;
}
.fb-angry-icon {
	width: 250px;
	margin-top: -50px !important;
}